<div class="container-fluid cont" >
  <div class="container d-flex justify-content-between line">
      <div class=" font-weight-bold heading text-dark pt-5 pb-3">
          My Blogs
         </div>
         <div class=" font-weight-bold heading text-dark pt-5 pb-3">Blogs-{{array.length}}</div>
  </div>
 

  <div class="mt-5 pb-5">
      <div class="container text-muted " *ngIf="array.length == 0">
          <div class="d-flex justify-content-center">
          </div>
          <div class="d-flex justify-content-center font-weight-bold text-light empty mt-5 error">
            There are no blogs! 
          </div>
          <div class="text-center mt-5">
              <button
          type="button"
          class="btn btn-info rounded-0 width borders"
          (click)="addBlog()"
        >
          Add Blog
        </button>
          </div>
        
        </div>
    <div *ngFor="let i of array" class="container mt-4">
      <div id="f1_container">
        <div id="f1_card" class="shadow">
          <div class="front face">
            <div class="container-fluid text-center">
                <div
                class="d-flex justify-content-center size text-capitalize text-dark font-weight-bold"
              >
                {{ i.title }}
              </div>
              <div class="container d-flex justify-content-around mt-4">
                  <div class="text-muted size1 text-capitalize">
                    <span class="text-dark size1">Category : </span
                    >{{ i.category }}
                  </div>
                  <div class="text-muted size1  text-capitalize">
                    {{ i.date | date: "medium" }}
                  </div>
                </div>
                <div
                class="text-dark size2 overflow pt-1 pl-5 pr-5 pb-4"
               
              >
                {{ i.blogDescription }}
              </div>
            </div>
          </div>
          <div class="back face">
            <div class="text-dark content texts size">{{ i.content }}</div>
            <div class="row mt-5 mb-4">
              <div class="col-sm-4">
                <div class="nav-item ">
                  <a
                    type="button"
                    class="btn btn-dark rounded-0 width borders"
                    href="/completeBlog/{{i.id}}"
                  >
                    Show Complete Blog
                </a>
                </div>
              </div>
              <div class="col-sm-4">
                  <div class="nav-item">
                    <a
                      type="button"
                      class="btn btn-dark rounded-0 width borders"
                      href="/editblog/{{i.id}}"
                        >
                      Update Blog
                  </a>
                  </div>
                </div>
              <div class="col-sm-4">
                <div class="nav-item ">
                  <button
                    type="button"
                    class="btn btn-dark rounded-0 width borders"
                    (click)="deleteBlog(i.id)"
                  >
                    Delete Blog
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>