.cont {
 background-position: center;
background-repeat: no-repeat;
background-size: cover;
background: linear-gradient(white,white);
min-height: 70vh;
}
.images {
    height: 40px;
    width: 40px;
    margin: 5px;
    padding-bottom: 5px;
  }
  .shift {
    font-family: "Raleway", sans-serif;
    padding-left: 60px;
    padding-top: 20px;
  }
  
  .btn:hover {
    color: #537d91;
  }
  .imgsize 
{
height: 250px;
width : 100%;
object-fit: cover;
}
.size{
  font-size: 24px;
  font-style: inherit;
}
.size1{
  font-size: 18px;
  font-style: inherit;
}
.size2
{
  font-size: 22px;
  font-style: inherit;
}
.size:hover
{
  cursor: pointer;
}
.overflow
{
  overflow-wrap: break-word;
}
.modal-dialog,
.modal-content {
    height: 80%;
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}
.width
{
  width: 300px;
}
.width:hover
{
  color:pink;
}
.heading
{
  font-size: 35px;
  font-family: inherit;
}
.color
{
  background-color: rgba(255, 255, 255,0.4);
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 80vh;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  background-color: rgba(255, 255, 255,0.8);

}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #e3e7f1;
}

.content{
  overflow: hidden;
}


body{
  margin:0;
  padding:0;
  height:1000px;
}
.black{
  position:fixed;
  top:0;
  background:#333;
  width:100%;
  height:50px;
  
}
.black ul{
  list-style-type:none;
  padding:0;
}

.black ul li{
  display:inline-block;
  width:100px;
  color:red;
}

.blue{
  position:fixed;
  top:0;
  background:blue;
  width:100%;
  height:50px;
}
.empty
{
  font-family: inherit;
  font-size: 32px;
}
.borders
{
  border: 2px dashed white;
}
.texts
{
  padding:30px;
  font-size: 18px;
  height: 350px;
  overflow : hidden;
}
.line
{
  border-bottom : 4px solid white;
}
.sizeimg
{
  height: 250px;
  width: 100%;
  object-fit: cover;
}