<div class="container-fluid cont">
  <div class="container-fluid">
    <div class="container">
      <div class="row pt-5">
        <div *ngIf="superAccess" class="col-sm-3 border-right link1">
          <div  class="pt-4 font-weight-bold link pb-3 text-dark">
            <a data-toggle="modal" data-target="#myModal"> Edit Profile </a>
          </div>
          <div class="pt-4 font-weight-bold link pb-3 text-dark">
            <a data-toggle="modal" data-target="#databaseModal"> Database </a>
          </div>
          <div class="pt-4 font-weight-bold link pb-3 text-dark">
            <a (click)="deactivateUser()"> Deactivate Profile </a>
          </div>
        </div>
        <diV class="col-sm-8 pad1">
          <div class="font-weight-bold text-dark text text-capitalize pt-5">
            Name {{ firstName }} {{ lastName }}
          </div>
          <div class="pt-2 pl-4 text-dark text2">
            Email: <i class="fas fa-envelope icon pr-3"></i>{{ email }}
          </div>
          <div class="posts">
            <div class="container d-flex line">
              <div class="heading text-dark pt-4 pb-2">Posts-{{ array.length }}</div>
            </div>
          
            <div class="row mt-5">
              <div class="container text-muted" *ngIf="array.length == 0">
                <div
                  class="d-flex justify-content-center font-weight-bold text-dark empty mt-5 error"
                >
                  There are no Posts!
                </div>
                <div class="text-center mt-5">
                  <button
                    type="button"
                    class="btn btn-info rounded-0 width borders"
                    (click)="addBlog()"
                  >
                    Add Post
                  </button>
                </div>
              </div>

              <div *ngFor="let i of array; let ind = index" class="col-md-6 mb-4">
                <div class="custom-container custom-padding custom-border-bottom">
                  <div class="custom-row">
                    <div class="col">
                      <div class="descrip pt-2" [innerHTML]="truncateContent(i.content, 2)"></div>        
                      <div *ngIf="i.content.split('\n').length > 2">
                        <a [routerLink]="'/completeBlog/' + i.id" class="read-more-link text-muted">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="superAccess" class="custom-row">
                    <button type="button" class="btn rounded-2 col-sm-4" (click)="updatePost(i.id)">
                      Update Post
                    </button>
                    <button type="button" class="btn rounded-2 col-sm-4" (click)="deleteBlog(i.id)">
                      Delete Post
                    </button>
                  </div>
                </div>
              </div>       
            </div>
          </div>
        </diV>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title modalhead border-bottom">Edit Profile</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <div class="modal-body">
          <form (ngSubmit)="editUser()" #registerForm="ngForm">
            <div class="custom-input-group mb-4 custom-input">
              <input
                type="text"
                [(ngModel)]="firstName"
                name="First Name"
                class="custom-input-control required-field"
                placeholder="First Name"
                required
              />
            </div>

            <div class="custom-input-group mb-4 custom-input">
              <input
                type="text"
                [(ngModel)]="lastName"
                name="Last Name"
                class="custom-input-control"
                placeholder="Last Name"
                required
              />
            </div>

            <div class="custom-input-group mb-4 custom-input">
              <input
                type="email"
                [(ngModel)]="email"
                name="email"
                class="custom-input-control"
                placeholder="Email"
                disabled="true"
              />
            </div>
            <div class="form-group d-flex justify-content-center">
              <button class="btn addbtn">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="databaseModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title modalhead border-bottom">
            Database Connection
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form (ngSubmit)="editDatabaseConnection()" #databaseForm="ngForm">
            <div class="custom-input-group mb-4 custom-input">
              <input
                type="text"
                [(ngModel)]="server"
                name="server"
                class="custom-input-control required-field"
                placeholder="Server"
                required
              />
            </div>

            <div class="custom-input-group mb-4 custom-input">
              <input
                type="text"
                [(ngModel)]="database"
                name="database"
                class="custom-input-control"
                placeholder="Database"
                required
              />
            </div>

            <div class="custom-input-group mb-4 custom-input">
              <input
                type="number"
                [(ngModel)]="port"
                name="port"
                class="custom-input-control"
                placeholder="Port"
                required
              />
            </div>

            <div class="custom-input-group mb-4 custom-input">
              <input
                type="text"
                [(ngModel)]="databaseUsername"
                name="username"
                class="custom-input-control"
                placeholder="Username"
                required
              />
            </div>

            <div class="custom-input-group mb-4 custom-input">
              <input
                type="password"
                [(ngModel)]="databasePassword"
                name="password"
                class="custom-input-control"
                placeholder="Password"
                required
              />
            </div>

            <div class="custom-input-group mb-4 custom-input">
              <select
                [(ngModel)]="databaseType"
                name="databasetype"
                class="custom-input-control"
                required
              >
                <option value="MYSQL">MySQL</option>
                <option value="MONGODB">MongoDB</option>
                <option value="MSSQL">SQL Server</option>
              </select>
            </div>
            <div class="form-group d-flex justify-content-center">
              <button class="btn addbtn" [disabled]="!databaseForm.valid">
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="custom-alert-popup" *ngIf="alert">
  <div class="custom-popup-content success">
   <i class="material-icons text-success">done</i>
   <strong>{{alertMessage}}</strong>
  </div>
</div>

<!-- Custom Error Alert Popup -->
<div class="custom-alert-popup" *ngIf="alertError">
  <div class="custom-popup-content error">
    <div>
      <i class="material-icons text-danger">error</i>
    <strong>{{alertErrorMessage}}</strong>
    </div>
    <button (click)="closeErrorAlert()" class="custom-close-button">Close</button>
  </div>
</div>

<!-- Custom Error Alert Popup -->
<div class="custom-alert-popup" *ngIf="confirmAlert">
  <div class="custom-popup-content error">
    <div class="content">
      <i class="material-icons ">info</i>
      <strong>
        <span>{{confirmAlerText}}</span>
      </strong>
    </div>
    <div style="display: flex; justify-content: space-around;">
      <button (click)="confirmAction(confirmButtonText)" class="custom-close-button">{{confirmButtonText}}</button>
      <button (click)="closeConfirmAlert()" class=" custom-close-button">Cancel</button>
    </div>
  </div>
</div>