<div class="custom-container">
    <div class="custom-row">
      <div class="custom-col">
        <div class="custom-heading">Social Links</div>
      </div>
      <div class="custom-col custom-social-icons">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square custom-icon"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram custom-icon"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube custom-icon"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square custom-icon"></i></a>
      </div>
    </div>
  
    <div class="custom-border"></div>
  
    <div class="custom-row">
      <div class="custom-col">
        <div class="custom-heading">Discover Nuestro</div>
      </div>
      <div class="custom-col custom-discover">
        <span class="custom-discover-link" (click)="directAbout()">About Nuestro</span>
        <span class="custom-discover-link">Careers</span>
        <span class="custom-discover-link">Offers</span>
        <span class="custom-discover-link" (click)="directContact()">Contact Us</span>
      </div>
    </div>
  
    <div class="custom-border"></div>
  
    <div class="custom-row custom-last-row">
      <div class="custom-col">
        <div class="custom-heading">Company Icon</div>
      </div>
      <div class="custom-col"></div>
      <div class="custom-col custom-discover">
        <div class="custom-discover-link">Notices</div>
        <div class="custom-discover-link">Terms & Conditions</div>
        <div class="custom-discover-link">Privacy Policy</div>
      </div>
    </div>
  </div>
  