.cont {
    padding-top : 80px;
    padding-left: 250px;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/blue-pink-leaves-dyed-white-background-with-copyspace_24972-570.jpg?size=626&ext=jpg");
}
input {
  border: 0;
  outline: 0;
  background: white;
  border-bottom: 1px solid white;

}

.size {
    font-size: 20px;
}
.cont-align
{
    padding-top: 800px;
}
.text
{
    color:yellow;
}
textarea{
  height: 500px;
}