<div class="custom-container">
  <div class="custom-body" (scroll)="onScroll($event)">
    <div class="custom-header" [style.background-color]="hasColor ? '#c70d3a' : '#45969b'">
      <!-- <img 
        class="custom-backimage" 
      /> -->
      <div class="custom-textss">
        <div class="custom-text text-center font-weight-bold text-light">
          Write your mind out, in the best way
        </div>
        <div class="custom-text text-center font-weight-bold pt-1 text-light text1">
          Create your own style blogs
        </div>
        <div class="custom-button-container">
          <button class="custom-button" (click)="home()">CREATE YOUR BLOG</button>
        </div>
        <div class="custom-contsize">
          <div class="custom-head text-center text-light font-weight-bold">
            Welcome To N
          </div>
        </div>
      </div>
    </div>
    <div class="custom-second-div">
      <div class="custom-row">
        <div class="custom-col">
          <img  src="//lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=d"
           class="custom-image1" />
          <img  src="//lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=d"
          class="custom-image2" />
        </div>
        <div class="custom-col">
          <div class="custom-text-light custom-yellow-head">Get your creativity out!</div>
          <div class="custom-text-light custom-yellow-head1">
            Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates – all with flexible layouts and hundreds of background images – or design something new.
          </div>
        </div>
      </div>
    </div>
    <div class="custom-forth-div">
      <div class="custom-row">
        <div class="custom-col">
          <div class="custom-text-light custom-yellow-head2">Get your creativity out!</div>
          <div class="custom-text-light custom-yellow-head3">
            Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates – all with flexible layouts and hundreds of background images – or design something new.
          </div>
        </div>
        <div class="custom-col">
          <img src="image-url3.jpg" class="custom-image" />
        </div>
      </div>
    </div>
  </div>
</div>
