/* Update background and container styles */
.background1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7923ce24293983.570a1fd8e5da3.jpg");
  padding: 40px;
}

.text-right { 
  text-align: right;
  padding: 15px;

  a {
    text-decoration: none;
    color: #777;

    .icon {
      font-size: 24px;
    }
  }
  .custom-icon {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center; /* Align items vertically */
    text-decoration: none;
  }
  
  .material-icons {
    margin-right: 5px; /* Adjust the spacing between icon and text */
  }
  
  .icon-text {
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
}


.custom-row {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  .custom-col {
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background: none; /* Remove background */
    .heading {
      font-size: 38px;
    }

    .signup {
      font-size: 20px;
    }
  }
  .custom-col {
    flex-grow: 1;
    .custom-container {
      background-color: #fff;
      overflow-y: auto;
      padding: 15px;
      flex-grow: 1;
    }
  }
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 8px; /* Adjust the margin as needed */
}

.checkbox-label {
  margin-left: 5px; /* Adjust the margin as needed */
  user-select: none; /* Prevent text selection on label */
  color: #777;
  font-weight: normal;
}


.login-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 100vh;
  border-radius: 5px;
  margin: 0 auto;
  flex-grow: 1;
}

/* Update the header styles */
.custom-header {
  text-align: center;
  padding: 20px;
}


/* Update the "Hello!" text styles */
.hello {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Update the "Enter Email" and "Enter Password" text styles */
.text-muted {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

/* Update the input field styles */
.custom-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Update the alert styles */
.custom-alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #721c24;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  position: relative;
}

.custom-close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #721c24;
  cursor: pointer;
}

.custom-close:hover {
  color: #af4448;
}

/* Update the "Show Password" checkbox styles */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-label  {
  margin: 0;
  margin-left: 10px; /* Add the desired space here */
}

.forget {
  color: #777;
  font-weight: normal;
  display: flex;
  padding-bottom: 10px;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
}
/* Update the "Forgot Password?" and "LOG IN" button styles */
.custom-btn {
  background-color: #45969b;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px;
  padding: 10px 20px;
  cursor: pointer;
  &:disabled {
    opacity: 30%;
  }
}


/* Apply custom styles to the email input placeholder with FontAwesome icon */
#email::placeholder {
  content: "\f0e0"; /* FontAwesome envelope icon for email */
  font-family: "Font Awesome 5 Free";
  padding-left: 10px;
  color: #777; /* Match the color to the placeholder text */
}

/* Apply custom styles to the password input placeholder with FontAwesome icon *//* Apply custom styles to the password input placeholder with FontAwesome key icon */
#password::placeholder {
  content: "\f084"; /* FontAwesome key icon for password */
  font-family: "Font Awesome 5 Free";
  padding-left: 10px;
  color: #777; /* Match the color to the placeholder text */
}


.custom-btn:hover {
  opacity: 80%;
}

/* Update the "Don't have an account?" text styles */
.border-top {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
  font-size: 16px;
  text-align: center;
}

.text-muted a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  text-transform: uppercase;
}

.text-muted a:hover {
  text-decoration: underline;
  color: #0056b3;
}
