<div class="background1">
  <div class="custom-header">
    <a href="/" class="custom-icon" title="Go to Homepage">
      <i class="material-icons text-light">home</i>Go back to Home page 
    </a>
  </div>
  <div class="login-container">
    <div class="hello">Hello!</div>
    <div class="input-group">
      <input
        type="text"
        class="custom-input"
        id="email"
        placeholder="&#xf0e0; Email" 
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="input-group">
      <input
        id="password"
        type="password"
        class="custom-input"
        placeholder="&#xf084; Password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div *ngIf="!validateUser" class="custom-alert">
      <button type="button" class="custom-close" (click)="closeAlert()">&times;</button>
      <strong>Username and password can't be recognized!</strong>
    </div>
    <!-- <div class="checkbox-container">
      <input type="checkbox" id="showPassword" (click)="showPasswordFunction()" />
      <label class="checkbox-label" for="showPassword">Show Password</label>
    </div> -->
    <div class="text-center">
      <button class="custom-btn" (click)="forget()">Forgot Password?</button>
    </div>
    <div class="button-container">
      <button type="button" class="custom-btn" (click)="login()">
        <span class="custom-font-weight">LOG IN</span>
      </button>
    </div>
    <div class="border-top pt-3">
      <div class="text-center text-muted">
        Don't have an account? <a href="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>
