<div class="main-content">
  <div class="custom-container custom-bg custom-shadow d-flex justify-content-end pt-3 custom-styles pr-5">
    <form>
      <div class="input-group search">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">search</i>
          </span>
        </div>
        <input
          type="text"
          class="custom-input"
          [(ngModel)]="search1"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Search for category, title and more.."
        />
        <button type="button" class="custom-button" (click)="searchinput()">
          Search
        </button>
      </div>
    </form>
  </div>

  <div class="custom-container main">
    <div class="head text-capitalize">Latest Posts</div>
    <div class="row custom-col">
      <div *ngFor="let i of displayedBlogs; let ind = index" class="col-md-6 mb-4">
        <div class="custom-container custom-padding custom-border-bottom">
          <div class="row">
            <div class="col">
              <div class="mt-2">
                <a [routerLink]="'/profile/' + i.user.id">
                  <i>{{ i.user.firstName }} {{ i.user.lastName }}</i>
                </a>
              </div>
              <div class="descrip pt-2" [innerHTML]="truncateContent(i.content, 2)"></div>

              <!-- Show "Read More" button if there are more than 2 lines -->
              <div *ngIf="i.content.split('\n').length > 2">
                <a [routerLink]="'/completeBlog/' + i.id" class="read-more-link text-muted">Read More</a>
              </div>
            </div>
          </div>
          <div class="interaction-icons">
            <i class="far fa-heart" (click)="likeBlog(i)"></i>
            {{ i.likesCount }} Likes
            <i class="far fa-comment" (click)="toggleCommentInput(blog, ind)"></i>
            {{ i.commentsCount }} Comments
      
            <div *ngIf="i.showCommentInput" class="comment-box">
              <input type="text" class="custom-input" placeholder="Add a comment..." [(ngModel)]="i.commentText" />
              <button class="send-button" (click)="commentBlog(i)">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="displayedBlogs.length > 10" class="text-center mt-3">
      <button class="custom-button" (click)="loadMoreBlogs()">
        Load More
      </button>
    </div>
    <div *ngIf="displayedBlogs.length==0" class="invalid">No related Posts</div>
  </div>
</div>