// Define Variables
$primary-color: #45969b;
$secondary-color: #6C757D;

// Main Content
.main-content {
  background-color: #f5f5f5;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  .main {
    min-height: 80vh;
  }

  .invalid {
    padding: 20pxx;
    text-align: center;
    font-size: xx-large;
  }

  .custom-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px; // Increased padding for better spacing
    width: 100%;

    .custom-col  {
      flex-grow: 2;
    }

    // Common styles for custom containers
    &.custom-bg {
      background-color: #fff;
    }

    &.custom-shadow {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-capitalize {
      text-transform: capitalize;
    }

    .text-uppercase {
      text-transform: uppercase;
    }
  }

  // Input Group styles
  .input-group {
    .input-group-text {
      background-color: $primary-color;
      color: #fff;
      border: none;
    }

    .custom-input {
      border: 1px solid $secondary-color;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
    }
  }

  .custom-button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      opacity: 80%;
    }
  }
  // Trending Topic styles
  .trending-topic {
    background-color: $primary-color;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }

  // Head styles
  .head {
    font-size: 24px;
    font-weight: bold;
  }

  // Post Content styles
  .post-content {
    .user-info {
      display: flex;
      align-items: center;

      // Profile Image styles
      .profile-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      // User Name styles
      .user-name {
        font-weight: bold;
      }
    }

    // Post Text styles
    .post-text {
      margin-top: 10px;
    }
  }

  // Post Actions styles
  .post-actions {
    margin-top: 10px;

    // Like, Comment, Share styles
    .like-action,
    .comment-action,
    .share-action {
      margin-right: 20px;

      // Icon styles
      i {
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

  // Comment Box styles
  .comment-box {
    input {
      border: 1px solid $secondary-color;
      border-radius: 5px;
      padding: 5px;
      font-size: 14px;
    }

    .send-button {
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 14px;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
