.heading {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  border-bottom: 3px solid #40bfc1;
  color: #40bfc1;
}
textarea {
  height: 30vh;
}

.addbtn {
  background-color: #40bfc1;
  color: white;
  width: 350px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #40bfc1;
}
input:focus {
  outline: none;
}
.back
{
background: white
;}
/* Style for the background */

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333; /* Adjust the color as needed */
}
.custom-alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


/* Style for the popup content */
.custom-popup-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

/* Style for success popup */
.custom-popup-content.success {
  border: 2px solid #4CAF50;
}

/* Style for error popup */
.custom-popup-content.error {
  border: 2px solid #FF5733;
}

/* Style for icons */
.material-icons {
  font-size: 36px;
  margin-bottom: 10px;
}