<div class="back">
  <div class="container text-center font-weight-bold heading pt-5 mb-5 pb-3 pl-5 pr-5">
    Create a Fantastic Blog!
  </div>
  <div class="container mt-5">
    <form (ngSubmit)="submitForm()" #blogForm="ngForm">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <input
              type="text"
              class="form-control rounded-0"
              [ngClass]="{ 'is-invalid': submitted && blogForm.controls['title'].errors }"
              placeholder="Title"
              [(ngModel)]="blog.title"
              name="title"
              required
            />
            <div *ngIf="submitted && blogForm.controls['title'].errors && blogForm.controls['title'].dirty">
              <div *ngIf="blogForm.controls['title'].hasError('required')">Title is required</div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control rounded-0"
              [ngClass]="{ 'is-invalid': submitted && blogForm.controls['category'].errors }"
              placeholder="Category"
              [(ngModel)]="blog.category"
              name="category" 
            />
            <div *ngIf="submitted && blogForm.controls['category'].errors" class="invalid-feedback">
              <div *ngIf="blogForm.controls['category'].errors['required']">Category is required</div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-center pt-5">
            <button class="btn addbtn" type="submit" [disabled]="blogForm.invalid">Add Blog</button>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="form-group mb-5">
            <textarea
              class="form-control rounded-0"
              [ngClass]="{ 'is-invalid': submitted && blogForm.controls['content'].errors }"
              placeholder="Content"
              [(ngModel)]="blog.content"
              name="content" 
              required 
            ></textarea>
            <div *ngIf="submitted && blogForm.controls['content'].errors" class="invalid-feedback">
              <div *ngIf="blogForm.controls['content'].errors['required']">Content is required</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
