<div class="navbar">
  <div class="logo" (click)="goToHome()">
    <span>Nuestro</span>
  </div>
  <div class="buttons">
    <ng-container *ngIf="!userLoggedIn; else userLinks">
      <button (click)="navigateToLogin()">
        <i class="fas fa-sign-in-alt"></i> Sign In
      </button>
      <button (click)="navigateToSignup()">
        <i class="fas fa-user-plus"></i> Sign Up
      </button>
    </ng-container>
    <ng-template #userLinks>
      <button (click)="goToHome()">
        Home
      </button>
      <button (click)="blogPage()">
        <i class="fas fa-edit"></i> Write Post
      </button>
      <button (click)="navigateToProfile()">
        <i class="fas fa-user"></i> {{ user.firstName }} {{ user.lastName }}
      </button>
      <button (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </ng-template>
  </div>
</div>
