.color
{
    background-color: rgba(255, 255, 255, 0.8);
}

.text
{
  font-size: 40px;
  font-family: inherit;
  color:#1b2a49;
}
.texts
{
  font-size: 24px;
}
img{
 height: 300px;
 width:100%;
 object-fit: cover;
}
.date
{
  font-size: 16px;
}
.textarea
{
  height: 100px;
  width: 800px;
}
.icon-size{
  height:50px;
  width:50px;
}
.btn-edit
{
  width: 500px;
}
.del
{
  cursor: pointer;
}